<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Student Name</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Ersin ÇEBİ</td>
				<td>
					<input type="radio" name="radio1" value="1" checked>Present
					<input type="radio" name="radio1" value="1">Absent
				</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Zafer Şükrü Kalyoncu(CEO of Kalyon AŞ)</td>
				<td>
					<input type="radio" name="radio2" value="1">Present
					<input type="radio" name="radio2" value="1" checked>Absent
				</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Çağatay DEMİRCAN(Game Changer)</td>
				<td>
					<input type="radio" name="radio3" value="1" checked>Present
					<input type="radio" name="radio3" value="1">Absent
				</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>Ser-45dar</td>
				<td>
					<input type="radio" name="radio4" value="1">Present
					<input type="radio" name="radio4" value="1" checked>Absent
				</td>
			</tr>
		</tbody>
	</table>