<form>
		<div class="form-group">
			<label for="">Name:</label>
			<input type="text" class="form-control" id="name" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="">Date of...:</label>
			<input type="text" class="form-control" id="date" placeholder="Date">
		</div>
		<div class="form-group">
			<label for="">Explanation:</label>
			<input type="text" class="form-control" id="explanation" placeholder="Explanation">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>