
<div class="jumbotron jumbotron-fluid" id="register">
    <div class="container">
      <h1 class="display-4">whenTheRingBells</h1>
      <p class="lead">The purpose of this system is to design a attendance application for use in schools and in similar places. Designed system is user-friendly system. The biggest reason for making this system is that the existing polling applications used create many difficulties for students, teachers and other users. Our biggest aim is to minimize these problems in the website.  We designed application to use fondly in schools and other similar place.</p>
    </div>
  </div>