
<table class="table table-hover" *ngIf="(ogrenci==true) || (ogretmen==true)" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DersinAdı</th>
      <th scope="col">DersinÖğretmeni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of dataCourses;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{obj.Title}}</td>
      <td>{{obj.Teacher}}</td>
      <td><button type="button" class="btn btn-secondary" (click)="getId(obj.key) " *ngIf="(ogretmen==true)" >YoklamaAl</button> </td>
      <td><button type="button" class="btn btn-secondary" (click)="getAttDetails(obj.key) " *ngIf="(ogrenci==true)" >View Detail</button> </td>
   
    </tr>
  </tbody>
</table>

<table class="table table-hover"*ngIf="(ogretmen==true)">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">İsim</th>
      <th scope="col">Statu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj1 of students;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{obj1.email}}</td>
  

      <td><button type="button" class="btn btn-secondary"(click)="getReq(obj1.key,true)">VAR </button>
      <button type="button" class="btn btn-secondary"(click)="getReq(obj1.key,false)">Yok </button>
      </td>
    </tr>
  

  
    <tr *ngFor="let z of name;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{z.key}}</td>
     
    </tr>
  </tbody>
</table>

<table class="table table-hover" *ngIf="(ogrenci==true)">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarih</th>
      <th scope="col">Statu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj2 of viewDetails;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{obj2.key}}</td>
      <td>{{obj2.statu}}</td>
      
    </tr>
    <p>durum={{durum}}</p>
  </tbody>
</table>

