<form [formGroup]="regiForm" (ngSubmit)="onSubmit(regiForm.value)" *ngIf="(admin==true) || (ogrencisleri==true)">
  <div class="form-group" >
  <label for="exampleInputEmail1">DersinAdı</label>
  <input formControlName="DersinAdı" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">DersinOgretmeni</label>
  <input formControlName="DersinOgretmeni" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

    <div class="form-group" >
      <label for="sel1">Select list (select one):</label>
      <select class="form-control"id="sel1" formControlName="OgretmenID">
        <option *ngFor="let obj of dataCourses" [value]="obj.key">{{obj.email}}</option>
      </select>
      <br>
      
    </div>
  <button type="onSubmit" class="btn btn-primary">Submit </button>
  </form>
